
html, body {
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.con{
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.head{
    height: 20%;
    width: 100%;
}

.holder{
    height: 25%;
    width: 100%;
    justify-content: space-center;
}

input{
    margin: 20px;
}